<h2>Form Demo</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
<div>
    <label for="username">Username:</label>
    <input type="text" formControlName="username">
    <div *ngIf="registerForm.get('username')?.pending">Checking Availability...</div>
    <div *ngIf="registerForm.get('username')?.errors">Name not available</div>
</div>
<br/>
<!-- button is invalid when the form is invalid (validation wrong) 
or pending -->
<button type="submit" 
[disabled]="registerForm.invalid ||
registerForm.pending">Submit</button>
</form>
